#skills{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#skills ul{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#skills ul .skillItem{
    width: 100%;
    justify-content: flex-start;
}

.skillName{
    min-width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
}

.skillItem progress{
    min-width: 100px;
    width: 100%;
    max-width: 100%;
}

